@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0; 
    bottom: 0;
    background: rgba(3, 132, 207, 0.4);
    overflow-y: [auto];
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding:  0 15px;
    z-index: auto;
}

#header .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8 px solid rgb(0, 0, 0);
    border-radius: 50%;
}
#header .profile h1{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    color: rgb(250, 248, 248);
    text-align: center;
}

#header .profile .social-links a {
    font-size: 1rem;
    background: rgb(245, 246, 248);
    color: rgb(2, 0, 0);
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social-links a:hover {
    background: rgb(7, 83, 233);
}

.nav-menu {
    padding: 1.5rem;
} 

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: rgb(150, 130, 128);
    transition: 0.3s;
    font-size: 15px;    
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: rgb(156, 128, 128);
}

.nav-menu a:hover,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-menu i:hover,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    color: rgb(12, 34, 236);
}

#main{
    margin-left: 300px;
}

section#inicio {
    width: 100%;
    height: 100vh;
    background-image: url(./img/background_maior.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section#inicio h2{
    font-size: 5rem;
}

section#inicio span#subtitle{
    margin-right: 8rem;
    font-size: 2rem;
}

.text-shadow{
    text-shadow: 4 4 10px rgb(19, 18, 18);
}
section#inicio div#arraste{
    width: 9rem;
}
section#inicio div#arraste a{
    text-decoration: none;
    color: rgba(242, 242, 248, 0.4);
}   

i.menu-mobile {
    position: fixed;
    color: rgb(255, 255, 255);
    background-color: rgba(3, 132, 207, 0.4);
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;
}

@media (max-width:1024px){
    #header {
        left: -300px
    }
    i.menu-mobile{
        display: flex;
    }

    section#inicio h2{
        font-size: 3.5rem;
    }
    section#inicio span#subtitle{
        font-size: 1rem;
        margin-right: 1rem;
    }
    #main{
        margin-left: 0;
    }
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

*::-webkit-scrollbar{
    width: 100px;
    height: 100px;
}

*::-webkit-scrollbar-track{
    background-color: rgb(226, 44, 44);
    box-shadow: inset 0 0 1rem rgba(0,0,0,.8);
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(235, 60, 60);
}

.section-bg{
    background-color: rgba(0,0,205, 0.2);
}

.cv .cv-title{
    font-weight: 700;
    color: rgb(8, 8, 8);
    margin-bottom: 20px;
    margin-top: 20px;
}

.cv .cv-item{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgb(8, 8, 8);
    position: relative;
}

.cv .cv-item h4{
    line-height: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(8, 8, 8);
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
}

.cv .cv-item h5{
    background: rgba(121, 117, 117, 0.3);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.cv .cv-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(8, 8, 8);
    background: rgb(236, 233, 233);
    border-radius: 50%;
}